**/target/
**/log/
**/logs/
**/.idea/
**/__pycache__/
**/tensorboard_logs/
**/.vscode/*
**/.dbeaver/
**/bin/
**/python/build/
**/lightning_logs/

deps.xml
nb_*.xml
.project
.settings/
*.pyc
*.sqlite
*.log
*.out
.DS_Store
.classpath
token.pickle
*.ckpt
*.factorypath
*.iml
.factorypath
*.txt